DB_URI=mongodb+srv://user:vc5Qzp3tb1Sgeq0I@cluster0.lw2yku6.mongodb.net/percel?retryWrites=true&w=majority&appName=Cluster0
PORT=5000
NODE_ENV=
BCRYPT_SALT_ROUND=
JWT_ACCESS_SECRET=
JWT_ACCESS_EXPIRES=
JWT_REFRESH_SECRET=
JWT_REFRESH_EXPIRES=
SUPER_ADMIN_EMAIL=
SUPER_ADMIN_PASSWORD=
GOOGLE_CLIENT_SECRET=
GOOGLE_CLIENT_ID=
GOOGLE_CALLBACK_URL=
EXPRESS_SESSION_SECRET=
FRONTEND_URL=