DB_URI=mongodb://localhost:27017/
URL=
PORT=5175
NODE_ENV=development

# JWT
JWT_ACCESS_SECRET=access_secret
JWT_ACCESS_EXPIRES=1d
JWT_REFRESH_SECRET=a
JWT_REFRESH_EXPIRES=10m

# BCRYPT
BCRYPT_SALT_ROUND=10

# Express Session
EXPRESS_SESSION_SECRET=express-session

